@charset "UTF-8";

@font-face {
    font-family: 'discord';
    src: url(../fonts/gg\ sans\ Medium.ttf);
}
@font-face {
    font-family: 'discord-logo';
    src: url(../fonts/Lemon\ Days.ttf);
}

@media screen and (min-width: 500px) {
    body{
        background-color: rgba(0, 0, 0, 0.4);
    }
    html{
        background-image: url(../images/background-2.png);
        background-size: cover;
        background-position: center left 20%;
        background-color: black;
    }
    header{
        display: block;
        color: #ebebeb;
        font-size: .9em;
        padding-left: 30px;
        padding-top: 25px;
    }

    #container{
        display: flex;
        margin: auto;
        height: fit-content;
        width: fit-content;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
        padding: 32px;
    }
    section#login-main{
        width: 416px;
    }

    section#login-main > h1{
        display: none;
    }
    section#login-main > p{
        display: block;
        color: #ebebeb;
        font-family: 'discord-regular';
        font-size: 16px;
        text-align: center;
    }
    
}

@media screen and (min-width: 769px) {
    #verticalDivider{
        width: 40px;
        height: 100%;
    }

    section#login-extra{
        display: inline-block;
        width: 240px;
    }
    section#login-extra > p > img{
        width: 170px;
        display: inline-block;
        margin: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    section#login-extra > h2{
        color: #ebebeb;
        text-align: center;
        font-family: 'discord-semi';
        margin-bottom: 8px;
    }
    section#login-extra > p{
        color: #ebebeb;
        text-align: center;
        font-size: 16px;
    }
}