@charset "UTF-8";

@font-face {
    font-family: 'discord-regular';
    src: url(../fonts/gg\ sans\ Regular.ttf);
}
@font-face {
    font-family: 'discord';
    src: url(../fonts/gg\ sans\ Medium.ttf);
}
@font-face {
    font-family: 'discord-semi';
    src: url(../fonts/gg\ sans\ Semibold.ttf);
}
@font-face {
    font-family: 'discord-bold';
    src: url(../fonts/gg\ sans\ Bold.ttf);
}
@font-face {
    font-family: 'discord-logo';
    src: url(../fonts/Lemon\ Days.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'discord';
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: none;
    flex: 0;
}

main{
    flex: 1;
    display: flex;
}


#container{
    background-color: #323338;
    width: 100%;
    padding: 16px 20px;
}


section#login-main > h1{
    color: #ebebeb;
    font-family: 'discord-bold';
    font-weight: 100;
    text-align: center;
    margin-bottom: 8px;
}
section#login-main > h2{
    color: #ebebeb;
    font-family: 'discord-semi';
    text-align: center;
    margin-bottom: 8px;
}
section#login-main > p{
    display: none;
}


form > label{
    display: inline-block;
    color: #d4d4d4;
    font-family: 'discord-bold';
    font-size: .71em;
    margin-top: 20px;
    margin-bottom: 8px;
}
form > label > strong{
    color: #f17873;
}
form > input{
    border-radius: 8px;
    width: 100%;
    padding: 12px 10px;
    background-color: #28292e;
    border: 1.5px solid #3e3f44;
    color: #ebebeb;
}
form > p{
    color: #d4d4d4;
    font-family: 'discord-regular';
    font-size: 14px;
    margin-top: 5px;
}
form #isubmit{
    background-color: #5864f4;
    font-family: 'discord-semi';
    font-size: 1em;
    height: 45px;
    margin-top: 16px;
    margin-bottom: 8px;
}
form #isubmit:hover{
    background-color: #4654C0;
}

a{
    color: #7a8cca;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

section#login-extra{
    display: none;
}

footer{
    flex: 0;
    width: 100%;
    text-align: center;
    font-size: .8em;
    background-color: #28292e;
    color: #d4d4d4;
    padding: 10px 0px;
}